{% extends 'base.html' %}

{% block title %}
  {% if validlink %}
    Change Password for {{ form.user.username }}
  {% else %}
    Reset Your Password
  {% endif %}
{% endblock %}

{% block content %}
<div class="max-w-lg mx-auto mt-10 p-6 bg-white shadow-lg rounded-lg">
  {% if validlink %}
    <h1 class="text-lg font-bold mb-4 text-gray-800">Change Password for @{{ form.user.username }}</h1>
    <p class="font-semibold">Note :</p>
    <p>
        <ul class="mt-2 text-sm text-gray-500">
            <li>Your password can't be too similar to your other personal information</li>
            <li>And your password must contain at least 8 characters.</li>
        </ul>
    </p>
    <form method="post" class="space-y-4" novalidate>
      {% csrf_token %}
      {% include 'includes/form.html' %}
      <button type="submit" 
              class="w-full bg-[#92B53D] text-white text-sm py-2 px-4 rounded-md hover:bg-[#A7C95A] ">
        Change Password
      </button>
    </form>
  {% else %}
    <h1 class="text-2xl font-bold mb-6 text-gray-800">Reset Your Password</h1>
    <div class="p-4 mb-4 text-red-700 bg-red-100 border border-red-200 rounded">
      It looks like you clicked on an invalid password reset link. Please try again.
    </div>
    <a href="{% url 'password_reset' %}" 
       class="block w-full bg-gray-600 text-white text-center py-2 px-4 rounded-md hover:bg-gray-700">
      Request a New Password Reset Link
    </a>
  {% endif %}
</div>
{% endblock %}
