{% extends 'base.html' %}

{% block title %}Password Changed!{% endblock %}

{% block content %}
<div class="max-w-lg mx-auto mt-10 p-6 bg-white shadow-lg rounded-lg">
  <h1 class="text-lg font-bold mb-4 text-gray-800">Password Changed!</h1>
  <div class="p-4 mb-4 text-green-700 bg-green-100 border border-green-200 rounded">
    You have successfully changed your password! You may now proceed to log in.
  </div>
  <a href="{% url 'user_login' %}" 
     class="block w-full bg-[#92B53D] text-white text-sm text-center py-2 px-4 rounded-md hover:bg-[#A7C95A]">
    Return to Log In
  </a>
</div>
{% endblock %}
