{% extends 'base.html' %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
<div class="max-w-lg mx-auto mt-10 p-6 bg-white shadow-lg rounded-lg">
    <h1 class="text-lg font-bold mb-4 text-gray-800">Reset Your Password</h1>
    <p class="text-gray-600 mb-4">
        Enter your email address below, and we'll send you a link to reset your password.
    </p>
    <form method="post" class="space-y-4" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" 
                class="w-full bg-[#92B53D] text-white text-sm py-2 px-4 rounded-md hover:bg-[#A7C95A]">
            Send Password Reset Email
        </button>
    </form>
</div>
{% endblock %}
